@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <title>Shopee</title>
</head>

<body>


    <div class="content">
        <img class="shape1" src="~/assets/shape1.png" alt="" />
        <img class="shape2" src="~/assets/shape2.png" alt="" />
        <img class="shape3" src="~/assets/shape1.png" alt="" />
        <img class="shape4" src="~/assets/shape2.png" alt="" />

        <div class="container">
            <!-- carousel -->
            <div class="row wrap-carousel">
                <div class="col-8 h-100 pr-1">
                    <div id="carouselExampleIndicators"
                         class="carousel slide h-100"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="0"
                                class="active"></li>
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active h-100">
                                <img src="~/assets/3.png"
                                     class="d-block w-100 h-100"
                                     alt="..." />
                            </div>
                            <div class="carousel-item h-100">
                                <img src="~/assets/4.png"
                                     class="d-block w-100 h-100"
                                     alt="..." />
                            </div>
                            <div class="carousel-item h-100">
                                <img src="~/assets/5.png"
                                     class="d-block w-100 h-100"
                                     alt="..." />
                            </div>
                        </div>
                        <a class="carousel-control-prev"
                           href="#carouselExampleIndicators"
                           role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next"
                           href="#carouselExampleIndicators"
                           role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-4 h-100 pl-0">
                    <div class="h-50">
                        <img class="w-100 h-100" src="~/assets/6.png" alt="" />
                    </div>
                    <div class="h-50 pt-1">
                        <img class="w-100 h-100" src="~/assets/7.png" alt="" />
                    </div>
                </div>
            </div>


            <!-- flash sale -->
            <div class="row mx-0 sale mt-4">
                <div class="d-flex px-4 pt-4">
                    <h5 class="mr-5">FLASH SALE</h5>
                    <span>00</span>
                    <span class="ml-3">00</span>
                    <span class="ml-3">00</span>
                </div>
                <div class="row mx-0 mt-4 row-card">
                    <div class="col-2 h-100 position-relative">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="diskon">
                                <span class="font-weight-bold" style="color: #f53d2d">35%</span>

                            </div>
                            <div class="wrap-img-sale">
                                <img class="w-100 h-100" src="~/assets/asdd.png" alt="" />
                            </div>
                            <div class="total w-100">
                                <div class="text">

                                    <span>246.250đđ</span>
                                </div>
                                <div class="progresss">
                                    <span> đang bán chạy</span>
                                    <div class="progress-on"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 h-100 position-relative">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="diskon">
                                <span class="font-weight-bold" style="color: #f53d2d">35%</span>

                            </div>
                            <div class="wrap-img-sale">
                                <img class="w-100 h-100" src="~/assets/asdd.png" alt="" />
                            </div>
                            <div class="total w-100">
                                <div class="text">

                                    <span>246.250đ đ</span>
                                </div>
                                <div class="progresss">
                                    <span> đang bán chạy</span>
                                    <div class="progress-on"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 h-100 position-relative">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="diskon">
                                <span class="font-weight-bold" style="color: #f53d2d">35%</span>

                            </div>
                            <div class="wrap-img-sale">
                                <img class="w-100 h-100" src="~/assets/asdd.png" alt="" />
                            </div>
                            <div class="total w-100">
                                <div class="text">

                                    <span>246.250đđ</span>
                                </div>
                                <div class="progresss">
                                    <span> đang bán chạy</span>
                                    <div class="progress-on"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 h-100 position-relative">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="diskon">
                                <span class="font-weight-bold" style="color: #f53d2d">35%</span>

                            </div>
                            <div class="wrap-img-sale">
                                <img class="w-100 h-100" src="~/assets/asdd.png" alt="" />
                            </div>
                            <div class="total w-100">
                                <div class="text">

                                    <span>246.250đđ</span>
                                </div>
                                <div class="progresss">
                                    <span> đang bán chạy</span>
                                    <div class="progress-on"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 h-100 position-relative">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="diskon">
                                <span class="font-weight-bold" style="color: #f53d2d">35%</span>

                            </div>
                            <div class="wrap-img-sale">
                                <img class="w-100 h-100" src="~/assets/asdd.png" alt="" />
                            </div>
                            <div class="total w-100">
                                <div class="text">

                                    <span>246.250đ</span>
                                </div>
                                <div class="progresss">
                                    <span> đang bán chạy</span>
                                    <div class="progress-on"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 h-100 position-relative">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="diskon">
                                <span class="font-weight-bold" style="color: #f53d2d">35%</span>

                            </div>
                            <div class="wrap-img-sale">
                                <img class="w-100 h-100" src="~/assets/asdd.png" alt="" />
                            </div>
                            <div class="total w-100">
                                <div class="text">

                                    <span>246.250đ</span>
                                </div>
                                <div class="progresss">
                                    <span> đang bán chạy</span>
                                    <div class="progress-on"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- tìm kiếm hàng đầu -->

            <div class="row mx-0 mt-4" style="background-color: #ffffff">
                <div class="d-flex flex-column w-100 pt-4 pb-2">
                    <div class="d-flex justify-content-between w-100 px-4 pb-2">
                        <h4 style="color: #888">Tìm kiếm hàng đầu</h4>
                        <div class="d-flex align-items-center" style="color: #f53d2d">
                            <span> xem tất cả </span>
                            <span class="h4 mb-0 ml-2">></span>
                        </div>
                    </div>
                    <!-- carousel -->
                    <div id="carouselExampleControls3"
                         class="carousel slide"
                         data-ride="carousel"
                         style="height: 300px">
                        <div class="carousel-inner h-100">
                            <div class="carousel-item h-100 active">
                                <div class="row h-100 mx-0"
                                     style="border-top: 2px solid #f2f2f2">
                                    <div class="col-4 h-100 pt-4"
                                         style="border-right: 2px solid #f2f2f2">
                                        <div class="d-flex w-100" style="height: 87%">
                                            <div class="h-100 mr-2"
                                                 style="width: 60%; background-color: yellow">
                                                <img class="w-100 h-100" src="~/assets/55.png" alt="" />
                                            </div>
                                            <div class="h-100" style="width: 40%">
                                                <div class="" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                                <div class="mt-2" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="position-relative h5"
                                              style="color: #888; top: 10px">sản phẩm</span>
                                    </div>
                                    <div class="col-4 h-100 pt-4"
                                         style="border-right: 2px solid #f2f2f2">
                                        <div class="d-flex w-100" style="height: 87%">
                                            <div class="h-100 mr-2"
                                                 style="width: 60%; background-color: yellow">
                                                <img class="w-100 h-100" src="~/assets/55.png" alt="" />
                                            </div>
                                            <div class="h-100" style="width: 40%">
                                                <div class="" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                                <div class="mt-2" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="position-relative h5"
                                              style="color: #888; top: 10px">sản phẩm</span>
                                    </div>
                                    <div class="col-4 h-100 pt-4"
                                         style="border-right: 2px solid #f2f2f2">
                                        <div class="d-flex w-100" style="height: 87%">
                                            <div class="h-100 mr-2"
                                                 style="width: 60%; background-color: yellow">
                                                <img class="w-100 h-100" src="~/assets/55.png" alt="" />
                                            </div>
                                            <div class="h-100" style="width: 40%">
                                                <div class="" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                                <div class="mt-2" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="position-relative h5"
                                              style="color: #888; top: 10px">sản phẩm</span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                <div class="row h-100 mx-0"
                                     style="border-top: 2px solid #f2f2f2">
                                    <div class="col-4 h-100 pt-4"
                                         style="border-right: 2px solid #f2f2f2">
                                        <div class="d-flex w-100" style="height: 87%">
                                            <div class="h-100 mr-2"
                                                 style="width: 60%; background-color: yellow">
                                                <img class="w-100 h-100" src="~/assets/55.png" alt="" />
                                            </div>
                                            <div class="h-100" style="width: 40%">
                                                <div class="" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                                <div class="mt-2" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="position-relative h5"
                                              style="color: #888; top: 10px">sản phẩm</span>
                                    </div>
                                    <div class="col-4 h-100 pt-4"
                                         style="border-right: 2px solid #f2f2f2">
                                        <div class="d-flex w-100" style="height: 87%">
                                            <div class="h-100 mr-2"
                                                 style="width: 60%; background-color: yellow">
                                                <img class="w-100 h-100" src="~/assets/55.png" alt="" />
                                            </div>
                                            <div class="h-100" style="width: 40%">
                                                <div class="" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                                <div class="mt-2" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="position-relative h5"
                                              style="color: #888; top: 10px">sản phẩm</span>
                                    </div>
                                    <div class="col-4 h-100 pt-4"
                                         style="border-right: 2px solid #f2f2f2">
                                        <div class="d-flex w-100" style="height: 87%">
                                            <div class="h-100 mr-2"
                                                 style="width: 60%; background-color: yellow">
                                                <img class="w-100 h-100" src="~/assets/55.png" alt="" />
                                            </div>
                                            <div class="h-100" style="width: 40%">
                                                <div class="" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                                <div class="mt-2" style="height: 48%">
                                                    <img class="w-100 h-100"
                                                         src="~/assets/55.png"
                                                         alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="position-relative h5"
                                              style="color: #888; top: 10px">sản phẩm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev"
                           href="#carouselExampleControls3"
                           role="button"
                           data-slide="prev">
                            <img src="~/assets/222.png"
                                 alt=""
                                 style="width: 50px; left: -90px; position: relative" />
                        </a>
                        <a class="carousel-control-next"
                           href="#carouselExampleControls3"
                           role="button"
                           data-slide="next">
                            <img src="~/assets/333.png"
                                 alt=""
                                 style="width: 50px; right: -90px; position: relative" />
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>
</html>

