@model ECommerceWebsiteMVC.Models.DanhGiaSanPham

@Html.Partial("_ProductReview",@Model)

<button type="button"
        class="btn btn-warning"
        onclick="openReviewModal()">
    Đánh giá sản phẩm
</button>
